<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.lunoadventure" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LunoAdventure</name>
    <description>A simple game wrapped as a Cordova app.</description>
    <author email="your.email@example.com" href="http://yourwebsite.com">Your Name</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <preference name="WKWebViewOnly" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>